.App {
  text-align: center;
}

/* Root */
:root {
  --gradient-text: linear-gradient(80.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-text: linear-gradient(80.97deg, #AE67FA -13.86%, #F49867 99.55%);
}

.gradient_bg {

  /* ff 3.6+ */
  background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 41, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 41, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background: -o-radial-gradient(circle at 3% 25%, rgba(0, 41, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 41, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(0, 41, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Header-slider */
.carousel-item img {
  width: 100%;
  height: 80vh;
}

/* Converter-Section */
.container-box {
  width: 100%;
  height: 100vh;
}

.converter-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 90vmin;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid grey;
  padding: 110px;
  border-radius: 5px;
}

.wrapper {
  width: 210px;
}

.wrapper label {
  font-weight: 600;
}

.wrapper input {
  width: 100%;
  padding: 5px 0;
  outline: none;
  border: none;
  border-radius: 15px;
  text-align: center;
  background-color: antiquewhite;
}